    /*
        Create a global variable.
        https://www.w3schools.com/css/css3_variables.asp
    */
    :root {
        /* try to resize the window */
        --width: 1600px; /* 80%; */
        --red: #A91717;
        --darkred: #BB1919;
        --lightgray: #CCCCCC;
        --underline_topbar: #262626;
        --underline_bar2: white;
        --underline_width: 6px;
    }

    #topbar {
        width: var(--width);
        /* 
            To horizontally center a block element (like <div>), use margin: auto;
            https://www.w3schools.com/css/css_align.asp
        */
        margin: 0 auto 0 auto; /* top and bottom margins, zero - left and right margins, auto*/
        height: 40px;
    }

    #topbar a {
        color: black;
        text-decoration: none;
    }

    #topbar a:hover {
        text-decoration: none;
        /* 
            Each tab has a different underline color set in topbar-section 
            border-bottom: var(--underline_width) solid var(--underline_topbar);
        */
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 30px;
    }

    li{
        margin-top: 7px;
    }

    li:first-child {
        margin-top:40;
    }
    
    #logo {
        margin-top: 8px;
        width: 100px;
        float: left;
        margin-right: 8px;
        padding-right: 10px;
    }

    #bell-div {
        padding-right: 10px;
        padding-left: 20px;
    }

    #signin-div {
        padding: 0 0 13px 0;
        height: 27px;
    }
    
    .topbar-section {
        float: left;
        padding: 0 0 var(--underline_width) 0;
        height: 100%;
        border-left: 1px var(--lightgray) solid;
    }

    .topbar-section:nth-child(2) {      /* Signin */
        padding-right: 40px;
    } 

    .topbar-section:nth-child(2):hover { /* Signin */
        border-bottom: var(--underline_width) solid #1188BB;
    } 

    .topbar-section:nth-child(4):hover { /* Home */
        border-bottom: var(--underline_width) solid #000000;
    } 

    .topbar-section:nth-child(5):hover { /* News */
        border-bottom: var(--underline_width) solid #BB1919;
    } 

    .topbar-section:nth-child(6):hover { /* Sport */
        border-bottom: var(--underline_width) solid #FFD230;
    } 

    .topbar-section:nth-child(7):hover { /* Reel */
        border-bottom: var(--underline_width) solid #0068FF;
    } 

    .topbar-section:nth-child(8):hover { /* Worklife */
        border-bottom: var(--underline_width) solid #0052A1;
    } 

    .topbar-section:nth-child(9):hover { /* Travel */
        border-bottom: var(--underline_width) solid #589E50;
    } 

    .topbar-section:nth-child(10):hover { /* Future */
        border-bottom: var(--underline_width) solid #002856;
    } 

    .topbar-section:nth-child(11):hover { /* Culture */
        border-bottom: var(--underline_width) solid #482878;
    } 

    .topbar-section:nth-last-child(3) { /* More */
        padding-right: 20px;
        border-right: 1px solid var(--lightgray);
    }  

    .topbar-section:nth-last-child(2) { /* arrow */
        padding-right: 20px;
        border-left: none;
    }

    .topbar-section:last-child {        /* Search */
        border-left: 1px solid var(--lightgray);
        border-right: none;
        padding-left: 20px;
    }
    
    #signin-image {
        width:25px;
        margin:11px 15px;
        float:left;
    }
    
    #signin-text {
        font-weight: bold;
        font-size:90%;
        position:relative;
        top:14px;
        padding-right:50px;
    }
    
    #wigglyline {
        float:left;
        height:40px;
    }
    
    #bell {
        height: 25px;
        margin: 9px 8px 0 8px;
    }
    
    #bell-div {
        float:left;
    }
    
    .topbar-menu {
        font-weight: bold;
        font-size: 90%;
        padding: 13px 27px 0px 27px;
        height: 27px;
    }
    
    #more-arrow {
        width:16px;
        margin-left: 40px;
        padding-left: 20px;
    }          

    #search-box {
        background-color: #E4E4E4;
        border: none;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 5px 5px 5px;
        margin: 9px 0 5px 5px;
        float: left;
    }
    
    #magnifying-glass {
        height:27px;
        margin-top:9px;
    }
    
    .clear {
        clear:both;
    }
    
    #menu-bar-container {
        border-top: 1px solid var(--lightgray);
        background-color: var(--darkred);
        width: 100%;
        height: 70px;
    }
    
    #menu-bar {
        width: var(--width);
        margin: 0 auto;
        padding-left: 0px;
    }
    
    h1 {
        padding: 0;
        margin: 0;
        color: white;
        font-size: 40px;
        font-weight: normal;
        padding-top: 10px;
        float: left;
    }
    
    #local-news {
        border: 1px #BB4545 solid;
        float: right;
        width: 250px;
        padding: 5px 5px 0 10px;
        margin: auto;
        text-align: right;
    }
    
    #local-news a {
        color: white;
        text-decoration: none;
        font-size: 30px;
        position: relative;
        top: -8px;
    }
    
    #local-news a:hover {
        text-decoration: underline;
    }
    
    #local-news img {
        height: 40px;
    }
    
    #menu-bar-2-container {
        background-color: var(--red);
        width: 100%;
    }
    
    #menu-bar-2 {
        width: var(--width);
        margin: 0 auto;
        height: 40px;
        padding-left: 0px;
    }
    
    #menu-bar-2 a {
        color: white;
        text-decoration: none;
        padding: 0 10px;
        border-right: 1px solid #BB4545;
        font-size: 14px;
        position: relative;
        top: 10px;
    }

    #menu-news a {
        color: white;
        text-decoration: none;
    }

    #menu-bar-2:first-child {
        padding: 0 10px 0 0;
    }

    #menu-bar-2:last-child {  /* More */
        color: white;
    }
    
    #menu-bar-2 a:hover {
        border-bottom: var(--underline_width) solid var(--underline_bar2);
        text-decoration: none;
        padding-bottom: var(--underline_width);
    }
    
    .no-border {
        border:none !important;
    }
    
    #down-arrow {
        height:10px;
        position:relative;
        top:10px;
    }
    
    #page-container {
        width: var(--width);
        margin: 0 auto;
    }
    
    h2 {
        font-weight: normal;
        margin-top: 40px;
        font-size: 22px;
        border-bottom: 3px solid var(--red);
        width: 47px;
    }
    
    h3 a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
    
    h3 a:hover {
        color:#1167a8;
    }
    
    #article-summary {
        color: #5a5a5a;
        width: 30%;
        float: left;
    }
    
    .clock {
        height:15px;
        position: relative;
        top:2px;
    }
    
    .topic-link {
        text-decoration: none;
        color: black;
        border-left: 1px solid var(--lightgray);
        padding-left: 10px;
    }
    
    #article-summary a:hover {
        color:#1167a8;
    }
    
    .date {
        padding-right:10px;
        color: #5a5a5a;
    }
    
    #article-container {
        float: left;
        width: 55%;
        border-right: 0px solid var(--lightgray);
        padding-right: 10px;
    }
    
    
    #main-article-image {
        width:70%;
        margin-left:0px;
        float: right;
    }
    
    #article-hr {
        border-top:1px solid var(--red);
        width:400px;
    }
    
    .article-link {
        color:black;
        text-decoration:none;
    }
    
    #watch-listen {
        margin-left: 0px;
        margin-top: -30px;
        width: 43%;
        float: right;
    }

    h4 {
        font-weight: normal;
        font-size: 20px;
    }
    
    .article-side-image {
        float:left;
        height:180px;
        margin-right:20px;
        margin-bottom:0px;
    }

    .article-under-image {
        float:left;
        height:157px;
        margin-right:20px;
        margin-bottom:0px;
    }
    
    .watch-listen-link {
        text-decoration: none;
        color:black;
        font-weight:bold;
        font-size:18px;
    }
    
    .watch-listen-link:hover {
        color:#1167a8;
    }
    
    .side-article {
        float: right; 
        height: 150px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    .no-border {
        border-left: none;
        border-right: none;
        padding: 0;
    }
    
    .border-right {
        border-right: 1px solid var(--lightgray);
    }
